@charset "utf-8";

/*
-------------------------------------
font
--------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

*::after,
*::before {
    box-sizing: border-box;
    /* 비포 애프터는 *범주 안에 안 들어가서 다시 보더박스해줌 */
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    font-family: 'Noto Sans KR';
    line-height: 1;
    color: #333;
}