.inner {
    width: 1170px;
    margin: 0 auto;
}

.about {
    padding: 100px 0;
    letter-spacing: -0.025em;
    font-size: 15px;
}

.about img {
    width: 100%;
}

.about h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.about h2::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #0d6efd;
    margin: 15px auto;
}

.about>p {
    margin: 0 0 50px 0;
    font-weight: 300;
    text-align: center;
}

.about .container {
    margin: 0 auto 100px auto;
    justify-content: space-between;
}

.about .tit {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 50px 0;
    line-height: 1.45;
}

.about .container p {
    line-height: 1.45;
    margin: 0 0 30px 0;
}

.about figure {
    height: 400px;
    overflow: hidden;
}

.about h3 {
    position: relative;
    font-size: 23px;
    font-weight: 500;
    padding: 0 0 0 10px;
    margin: 0 0 30px 0;
}

.about h3::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 3px;
    height: 20px;
    background: #0d6efd;
}

.table {
    width: 100%;
    border-top: 3px solid #0d6efd;
    border-collapse: collapse;
    border-spacing: 0;
}

.table td {
    padding: 15px 15px;
    border-left: 1px solid #ddd;
}

.table th {
    padding: 15px 15px;
    text-align: left;
    background: #f7f7f7;
    font-weight: 400;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

/* .responsive-table {
            width: 100%;
            overflow-x: scroll;
        } */